# Ignore directories related to binaries, intermediate builds, and caches
Binaries
Build
DerivedDataCache
Intermediate
Saved
Script
enc_temp_folder

# IDE-related files and directories
.idea
.vscode
.vs

# Files that should be ignored in general
.ignore
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.code-workspace
*.xcodeproj
*.xcworkspace

# FMOD Studio Project Files
**/FMODStudioProject/.user/
**/FMODStudioProject/.cache/
**/FMODStudioProject/.unsaved/

# Exclude FMOD Studio Project build and assets directories
**/FMODStudioProject/Build/
**/FMODStudioProject/Assets/

# Explicitly include FMOD Studio plugin binaries (if necessary)
!Plugins/FMODStudio/Binaries/